!!!
%html
  %head
    %title BRYAN WOODS >> loop do print 'foreverandeverand' end
    %link{:href=>"http://bryanwoods4e.com/favicon.ico", :rel=>"shortcut icon", :type=>"image/x-icon"}
    %style{:type=>"text/css"}
      H1 { text-align: justify }
      font {color: #E67451; size: 72px;}
      a:link {color: #463E41}
      a:visited {color: #463E41}
      a:hover {color: #463E41} 
      a:active {color: #463E41}
  %body{:bgcolor=>"#302217"}
    %font{:color=>"#817679", :size=>"72pt"}
      %h1
        MY NAME IS BRYAN WOODS.
        I AM A SOFTWARE DEVELOPER. 
        I LIVE IN BROOKLYN, WHICH IS A BOROUGH OF NEW YORK CITY. 
        I PLAY 
        %a{:href=>"http://www.myspace.com/thebirdcagetheater"} CONFRONTATIONAL MUSIC 
        AND CONTRIBUTE TO 
        %a{:href=>"http://github.com/bryanwoods"} OPEN SOURCE.
        BEFORE RUBY CHANGED MY LIFE I WORKED IN MARKETING. 
        NO NOT
        %a{:href=>"http://www.howtousetwitterformarketingandpr.com/"} THAT
        KIND OF MARKETING; 
        %a{:href=>"http://www.cluetrain.com/book/"} THAT 
        KIND OF MARKETING. 
        I LOVE ART, BUSINESS, AND CODE SO MUCH THAT I SOMETIMES 
        %a{:href=>"http://wilsoncolab.com/blog/bryan"} BLOG 
        ABOUT THEM. 
        I AM NOT CURRENTLY AVAILABLE FOR HIRE AND AM NOT INTERESTED IN BEING RECRUITED. 
        I HAVE TWO 
        %a{:href=>"http://bryanwoods4e.com/kittens.jpg"} KITTENS 
        AND A BEAUTIFUL 
        %s
          GIRLFRIEND
        %a{:href=>"http://bryanwoods4e.com/girlfriend.jpg"} FIANCEE.
        I 
        %a{:href=>"http://twitter.com/bryanwoods"} TWITTER
        , IF YOU'RE IN TO THAT KIND OF THING. 
        FEEL FREE TO 
        %a{:href=>"mailto:bryanwoods4e@gmail.com"} EMAIL ME 
        IF YOU'D LIKE, BUT PLEASE DO NOT CALL MY TELEPHONE UNDER ANY CIRCUMSTANCES. ESPECIALLY IF YOU'RE THE KIND OF PERSON WHO KNOWS HOW TO MARK THE MESSAGE AS URGENT, WHICH WILL THROW ME FOR A LOOP AND FLOOD MY ENTIRE DAY WITH FRUITLESS GOOGLE SEARCHES; DESPERATELY ATTEMPTING TO FIGURE OUT HOW THE HELL YOU EVEN 
        %em
          DID 
        THAT.