!!!
%html
  %head
    %title BRYAN WOODS >> while true; print 'foreverandeverand'; end
    %link{:href=>"favicon.ico", :rel=>"shortcut icon", :type=>"image/x-icon"}
    %link{:href=>"style.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %meta{:name=>"author", :content=>"Bryan Woods"}
    %meta{:name=>"description", :content=>"Personal website of Bryan Woods, Brooklyn, New York Ruby on Rails software developer."}
    %meta{:name=>"keywords", :content=>"bryan, woods, bryan woods, ruby, developer, rails, ruby on rails, programmer, new york, ny, brooklyn, nyc, new york city"}
    %script{:src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', :type=>'text/javascript'}
    :javascript
      $(document).ready(function() {
        $("body").hide().fadeIn("slow");
      });
    / 
      Last updated:
      = "#{Time.now.month}/#{Time.now.day}/#{Time.now.year}"
    :plain
      <!-- 
      	 _   _   ___  _____ _       _____  ___ _____ ___   _   _ 
      	| | | | / _ \|_   _| |     /  ___|/ _ \_   _/ _ \ | \ | |
      	| |_| |/ /_\ \ | | | |     \ `--./ /_\ \| |/ /_\ \|  \| |
      	|  _  ||  _  | | | | |      `--. \  _  || ||  _  || . ` |
      	| | | || | | |_| |_| |____ /\__/ / | | || || | | || |\  |
      	\_| |_/\_| |_/\___/\_____/ \____/\_| |_/\_/\_| |_/\_| \_/	
      -->
  %body{:bgcolor=>"#302217"}
    / The real question is are YOU man enough for <font>?
    %font{:color=>"#817679", :size=>"72pt"}
      %h1
        MY NAME IS BRYAN WOODS.
        I AM A SOFTWARE DEVELOPER. 
        I LIVE IN BROOKLYN, WHICH IS A BOROUGH OF NEW YORK CITY. 
        I PLAY 
        %a{:href=>"http://www.myspace.com/thebirdcagetheater"} CONFRONTATIONAL MUSIC 
        AND CONTRIBUTE TO 
        %a{:href=>"http://github.com/bryanwoods"} OPEN SOURCE.
        BEFORE RUBY CHANGED MY LIFE I WORKED IN MARKETING. 
        NO NOT
        %a{:href=>"http://www.howtousetwitterformarketingandpr.com/"} THAT
        KIND OF MARKETING; 
        %a{:href=>"http://www.cluetrain.com/book/"} THAT 
        KIND OF MARKETING. 
        I LOVE ART, BUSINESS, AND CODE SO MUCH THAT I SOMETIMES 
        %a{:href=>"http://wilsoncolab.com/blog/bryan"} BLOG 
        ABOUT THEM. 
        I AM NOT CURRENTLY AVAILABLE FOR HIRE AND AM NOT INTERESTED IN BEING RECRUITED. 
        I HAVE TWO 
        %a{:href=>"/kittens.jpg"} KITTENS 
        AND A BEAUTIFUL 
        %s
          GIRLFRIEND
        %a{:href=>"/fiancee.jpg"} FIANCEE.
        I 
        %a{:href=>"http://twitter.com/bryanwoods"} TWITTER
        , IF YOU'RE IN TO THAT KIND OF THING. 
        FEEL FREE TO 
        %a{:href=>"mailto:bryanwoods4e@gmail.com"} EMAIL ME 
        IF YOU'D LIKE, BUT PLEASE DO NOT CALL MY TELEPHONE UNDER ANY CIRCUMSTANCES. ESPECIALLY IF YOU'RE THE KIND OF PERSON WHO KNOWS HOW TO MARK THE MESSAGE AS URGENT, WHICH WILL THROW ME FOR A LOOP AND FLOOD MY ENTIRE DAY WITH FRUITLESS GOOGLE SEARCHES; DESPERATELY ATTEMPTING TO FIGURE OUT HOW THE HELL YOU EVEN 
        %em
          DID 
        THAT.
    / Google Analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3114392-9']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
      })();