H1 { 
  text-align: justify; 
  }
font {
  color: #E67451; 
  size: 72px;
  }
a:link {
  color: #463E41;
  }
a:visited {
  color: #463E41;
  }
a:hover {
  color: #463E41;
  } 
a:active {
  color: #463E41;
  }